---
---

$schemelightblue:#51c2ec;
$schemedarkblue:#217ea0;

$dividercolor:$schemedarkblue;

html, body { height:100%; }

body
{
   background-color:white;
   color:black;
   font:13.34px sans-serif;
   font-size:small;
   text-align:center;
   text-height:2em;
}

h1
{
   font-size:1.3em;
}

h2
{
   font-size:1.2em;
}

p
{
	padding:1em;
}

a:link, a:visited, a:hover
{
   text-decoration:none;
}

a:hover
{
   text-decoration:underline;
}

a:link, a:visited
{
   color:$schemedarkblue;
}

a:hover
{
   color:#51c2ec;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/

.site
{
font-size:115%;
text-align:left;
width:700px;
margin:1em auto 2em;
line-height:1.5em;
}

.header
{
	border-bottom:1px dotted $dividercolor;
   width:100%;
}

.features
{
   float:left;
   width:100%;
   clear:bottom;
}

.feature1
{
	width:33%;
	float:left;
}

.feature2
{
   width:33%;
   float:left;
}

.feature2 p
{
   border-left:1px dotted $dividercolor;
   border-right:1px dotted $dividercolor;
}

.feature3
{
   width:33%;
   float:left;
}
