/* tip from https://stackoverflow.com/questions/9201968/content-jumps-horizontally-whenever-browser-adds-a-scrollbar/9202094 to adjust for scrollbar width */
html {
	margin-left:calc(100vw - 100%);
}

body {
	margin: 30px auto;
	width: 100%;
	padding: 0 48px;
	max-width: 576px;
	font-family: "Iowan Old Style","Iowan","Georgia",serif;
	line-height: 2;
	background-color: #eeeeee;
	color: #303030;
}

.post .post-heading, .post .post-date {
	margin-bottom: 5px;
	line-height: normal;
}

.post .post-heading {
	text-decoration: underline #8b8b8b;
	color: #575757;
}

.post .post-date {
	color: #8b8b8b;
	font-weight: normal;
	margin: 0;
	padding: 0 20px;
}

.post p {
	font-weight: 400;
	font-size: 17px;
}

a, a:visited, a:active, a:hover {
	text-decoration: underline #8b8b8b;
	color: #575757;
}

a:hover, a:active {
	color: #404040;
}

.post p>code, .post pre, .post blockquote {
	background-color: #f0f0f0;
	border: 1px solid #cccccc;
	padding: 16px 25px;
}

.post p>code {
	padding: 0 5px;
}

.post pre, .post blockquote {
	padding-left: 50px;
	overflow: auto;
	margin: 16px 25px;
}

.post pre, .post blockquote+p {
	white-space: pre-line;
}

.post blockquote {
	font-style: italic;
}

.post img {
	max-width: 100%;
	margin: auto;
	display: block;
}

.post .more {
	text-align: center;
}

.post:after {
	content: "";
	width: 50%;
	border-top: 1px dotted #cccccc;
	display: block;
	margin: 50px auto;
}

#me ul, #nav ul {
	padding: inherit;
}

#me ul li, #nav ul li {
	list-style-type:  none;
	display: inline;
	margin-right: 0.25em;
}