<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,maximum-scale=2">
    <link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css">
    <title>Stephen Taylor | Code whisperer</title>

  </head>

  <body>
    <div id="header">
      <h1><a href="{{ site.url }}">{{ site.title}}</a></h1>
    </div>

    <div id="content">
        {{ content }}
    </div>

  </body>
</html>
