<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

	<head>
		<meta charset='utf-8'>
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,maximum-scale=2">
		<link rel="stylesheet" type="text/css" media="screen" href="/assets/css/style.css">
		<link rel="alternate" type="application/atom+xml" title="Feed for ste.vet" href="/feed.xml" />
		<title>Steve Taylor, Code whisperer</title>
	</head>

	<body>
		<div id="header">
			<h1><a href="{{ site.url }}" class="h-card">{{ site.title}}</a></h1>
		</div>

		<div id="content">
			{{ content }}
		</div>

		<div id="footer">
			<a href="/feed.xml">Atom Feed</a>
			<div id="me">
				<ul>
					<li><a href="https://mastodon.gamedev.place/@schtee" rel="me">Mastodon</a></li>
				</ul>
			</div>
		</div>
	</body>
</html>
