---
layout: default
---
{{ content }}

{% if page.micros %}
	{% assign micros_page = true %}
{% else %}
	{% assign micros_page = false %}
{% endif %}

{% for post in site.posts %}
	{% if post.categories contains 'micros' %}
		{% assign micros_post = true %}
	{% else %}
		{% assign micros_post = false %}
	{% endif %}
	{% if micros_page == micros_post %}
	{% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
		<div class="post">
			<h2 class="post-heading"><a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></h2>
			<p class="post-date">{{ post.date | date: date_format }}</p>
			{% assign truncated = post.content | split: "</p>" | slice: 0, 3 | join: "</p>" %}
			{{ truncated }}
			{% if truncated.size < post.content.size %}
			<p class="more"><a href="{{ post.url | relative_url }}">[More]</a></p>
			{% endif %}
		</div>
	{% endif %}
{% endfor %}